div.row{
    padding: 40px;
    height: 800px;
    background-color: rgba(255, 255, 255, 0.82);        
}
.btn-link{
    text-align: left;
    color: #1C85B3;
}
.col-md-offset-3{
    font-family: sans-serif;    
    margin-top: 90px; 
}
.col-md-8{
    font-family: sans-serif;    
    text-align: center;
}
.col-md-12{
    font-family: sans-serif;    
}
.h1, h1 {
    font-size: 50px;
    font-family: sans-serif;        
    padding: 5px;
}
h2{
    font-weight: bold;    
    font-family: sans-serif;  
    font-size: 40px;  
}
li{
    color: black;
    font-family: sans-serif;        
}
p{
    font-weight: bold;
    font-family: sans-serif;        
}
.translit{
    font-style:italic;
    font-weight: bold;    
    font-family: sans-serif;
}
.desknotif{
    font-weight: normal;
}
.well {
    font-family: sans-serif; 
    max-height:400px;
    overflow-y:auto;  
    background-color: rgba(255, 255, 255, 0);
}
#myInput {
    border-radius: 3px;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
    position: relative;
  }
  